@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


::-webkit-scrollbar {
  display: none;
}


html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.layout-padding {
  @apply px-3 md:px-10 lg:px-16 xl:px-24;
}

body {
  background-color: #FFFDFA;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}